ul{
  list-style-type: none;
  padding-left: 10px;
}


.radio{
  display: inline;
}

.radio_label{
  padding-right: 10px;
}
.radio_block{
  border: 1px solid black;
  background-color: white;
  height: 50px;
  margin: 0 auto;
  vertical-align: center;
  padding-top: 10px;
}



.ingredients_block, .direction_block{
  margin-top: 10px;
}

.list_ingredients{
  width: 60%;
  max-height: 500px;
  overflow: scroll;
  background-color: LightGoldenRodYellow;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.inlineBlock{
  display: inline-block;
}

.input_length{
  border-top: none;
  width: 60%;
  height: 50px;
  margin-bottom: 10px;
}

.input_length_2{
  width: 85%;
  height: 50px;
}
.block_center{
  margin-left: auto;
  margin-right: auto;
background-color: white;

}

.image-preview{
  width: 250px;
  height: 200px;
  margin:0 auto;
}

.input_length_remove_btn{
  width: 10%;
  height: 50px;
  vertical-align: center;
  float: right;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #0247FE;
  color: white;
}

.submit_button2{
  display: inline-block;
  background-color: #0247FE;
  color: white;
  width: 28%;
  height: 50px;
  margin: 2%;
  border-radius: 10px;
}
.cancel_button2{
  display: inline-block;
  background-color: #091534 ;
  color: white;
  width: 28%;
  height: 50px;
  margin: 2%;
  border-radius: 10px;
}
.submit_button{
  width: 60%;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #0247FE;
  color:white;
  border-radius: 10px;
}

.error{
  color: red;
}

.form-error{
  color: red
}

.form-warning{
  color: yellow;
}


@media only screen and (max-width: 768px){
  .input_length{
    width: 100%;
    height: 30px;
  }
  .list_ingredients{
    width: 100%;
    max-height: 300px;
  }

}
