.category{
  margin:0 auto;
  text-align: left;
  
  
}
.filterClass{
  text-align: left;
  margin: 0 auto;
}

.category h3{
  color: #0247FE;
}


@media only screen and (max-width: 768px){
  .alignLeft{
    float: left;
  }
  .alignRight{
    float: right;
  }
}

@media only screen and (max-width: 576px){
  .alignLeft, .alignRight{
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  .filterClass{
    width: 80%;
  }
  
}
/*checked={this.props.isCheckedBreakfast}
      checked={this.props.isCheckedLunch}
      checked={this.props.isCheckedDinner}*/