.meal{
  border: 1px solid black;
  margin: 2px;
  display: inline-block;
  width: 180px;
  height: 310px;
}
.meal ul{
  list-style-type: none;
  text-align: left;
}

.image_meal{
  width: 100%;
  height: 150px;
}
.image_meal_block{
  width: 100%;
  height: 150px;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.meal_name{
  font-weight: bold;
  overflow: hidden;
  height: 50px; 
}

.recipes_Link{
  background-color: #0247FE;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  border: 1px solid black;
}

.text_bold{
  font-weight: bold;
}

@media only screen and (max-width: 576px){
  .meal{
    width: 45%

  }
  
}