.mealList{
  width: 100%;
  border-left: 1px solid black;
  margin: 0 auto;
}
.container{
  margin-right: 5px;
  margin-left: 20px;
  width: 100%;
}

@media only screen and (max-width: 768px){
  .mealList{
    border-left:none;

  }
  
}